/Lesson4/src/
/Lesson4s/JavaApplication33/nbproject/private/
/Lesson4s/Lesson5/nbproject/private/
/Lesson4s/Lesson5/build/
/Lesson4s/test/nbproject/private/
/lesson6/nbproject/private/
/lesson6/build/
/lesson7kiemtra/nbproject/private/
/lesson7kiemtra/build/
